<div class="container mt-5">
    <h2 class="text-center">Attempt Details for Problem {{problemId}}</h2>
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>User Email</th> -->
              <th>User</th>
              <!-- <th>Problem ID</th> -->
              <th>Time Taken(in ms)</th>
              <th>Memory Used(in MB)</th>
              <th>Language</th>
              <th>Solution</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attempt of attempts">
              <!-- <td>{{ attempt.user?.displayName }}</td> -->
              <td>{{ attempt.email! }}</td>
              <!-- <td>{{ attempt.problem!.problemId }}</td> -->
              <td>{{ attempt.tc }}</td>
              <td>{{ attempt.sc }}</td>
              <td>{{ attempt.language }}</td>
              <td><pre style="white-space: pre-wrap;">{{ attempt.mySolution }}</pre></td>
              <td>{{ attempt.notes }}</td>
            </tr>
            <tr *ngIf="attempts.length === 0">
              <td colspan="8" class="text-center">No attempts found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  