<div class="container mt-5">
  <h2 class="text-center">Problem List</h2>
  <div class="card mb-3">
    <div class="card-body">
      <form *ngIf="showForm" (ngSubmit)="addAttempt(selectedProblem)">
        <div class="form-group">
          <label for="problemId">Problem Id</label>
          <input type="text" id="problemId" [(ngModel)]="selectedProblem!.problemId"
                 name="problemId" class="form-control" placeholder="Enter problem Id" required />
        </div>
        <div class="form-group">
          <label for="mySolution">Solution</label>
          <input type="text" id="mySolution" [(ngModel)]="attempt.mySolution"
                 name="mySolution" class="form-control" placeholder="Enter solution" required />
        </div>
        <div class="form-group">
          <label for="tc">Time Taken</label>
          <input type="text" id="tc" [(ngModel)]="attempt.tc"
                 name="tc" class="form-control" placeholder="Enter time taken" required />
        </div>
        <div class="form-group">
          <label for="sc">Memory Used</label>
          <input type="text" id="sc" [(ngModel)]="attempt.sc"
                 name="sc" class="form-control" placeholder="Enter memory used" required />
        </div>
        <div class="form-group">
          <label for="language">Programming Language</label>
          <input type="text" id="language" [(ngModel)]="attempt.language"
                 name="language" class="form-control" placeholder="Enter Programming Language" required />
        </div>
        <button type="submit" class="btn btn-primary mt-3">
          {{ isEditing ? 'Update' : 'Add' }} Solution
        </button>
        <button type="button" class="btn btn-secondary mt-3" (click)="resetForm()">
          Cancel
        </button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Problem Id</th>
            <th>Link</th>
            <th>Level</th>
            <th>Topic tag</th>
            <th>Gemini Solution</th>
            <th>View others' solution</th>
            <th>Your Solution</th>
            <th>Attempts Details</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let problem of problems">
            <td>{{ problem.problemId }}</td>
            <td><a [href]="problem.link" target="_blank">{{ problem.link }}</a></td>
            <td>{{ problem.difficultyLevel }}</td>
            <td>{{ problem.topicTag }}</td>
            <td>{{ problem.solution }}</td>
            <td>
              <button class="btn btn-info btn-sm" (click)="viewTeamSolution(problem.problemId)">View Friend's Solution</button>
            </td>
            <td>
              <button class="btn btn-info btn-sm"
                      *ngIf="!isUserSolutionAdded(problem); else updateSolution"
                      (click)="showForm=true; isEditing=false; selectedProblem=problem">Add Solution</button>
              <ng-template #updateSolution>
                <button class="btn btn-info btn-sm"
                        (click)="showForm=true; isEditing=true; selectedProblem=problem">Update Solution</button>
              </ng-template>
            </td>
            <td>
              
              <a [routerLink]="['/attempts', selectedProblem?.problemId]" style="text-decoration: none;">
                Problem List<span class="text-danger"></span>
              </a>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
