<div class="chart-container">
    <div class="bar-chart">
      <h2>Bar Chart</h2>
      <canvas id="barchart"></canvas>
    </div>
    <div class="pie-chart pie-chart-1">
      <h2>Pie Chart - Easy</h2>
      <canvas id="piechart-easy"></canvas>
    </div>
    <div class="pie-chart pie-chart-2">
      <h2>Pie Chart - Medium</h2>
      <canvas id="piechart-medium"></canvas>
    </div>
    <div class="pie-chart pie-chart-3">
      <h2>Pie Chart - Hard</h2>
      <canvas id="piechart-hard"></canvas>
    </div>
  </div>
  